<configuration>
    <!-- Appender para escribir en la consola -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Nivel de logging raíz y su salida -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
